@font-face {
    font-family: "lobster";
    src: url('Lobster-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

label.el-radio {
    clear: both;
    float: left;
    padding-bottom: 0.5em;
}